[Bb]uild/
[Bb]uilds/
[Ee]xportedObj/
[Ll]ibrary/
[Ll]ogs/
[Ll]ocal[Cc]ache/
[Mm]emoryCaptures/
[Oo]bj/
[Tt]emp/
[Tt]extMesh [Pp]ro/
[Uu]nityGenerated/
[Uu]serSettings/
.gradle/
.vs/
.consulo/
crashlytics-build.properties
ehthumbs.db
Icon?
sysinfo.txt
Thumbs.db
.log
.Spotlight-V100
.Trashes
.vsconfig
*.apk
*.booproj
*.csproj
*.DS_Store
*.DS_Store?
*.mdb
*.mdb.meta
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.suo
*.svd
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs
*.VC.db
._*
*.bak